In [1]:
import numpy as np
import ray
import pickle
import sys
sys.path.append('../include/libs')
sys.path.append('..')
from include.libs.ray.serialization import (
    RayStore
)
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randint(0,1000, size=(1000, 6)), columns=list('ABCDEF'))

In [3]:
some_store = {"task_1": 1, "task_2": "hello", "task_3": df}

In [4]:
some_store.get('task_3')

       A    B    C    D    E    F
0    605   72   97  443  223  926
1    948  111  750  276  881  642
2    911   41  875  498  240  696
3    256  770  925  101  247  644
4    856  498  404  896  714  307
..   ...  ...  ...  ...  ...  ...
995  756  919  217  526   30  766
996   12  303  142  489  183  386
997  983  742  498  889  753  690
998  800  448  787  217  788  480
999  230  419  986  963   56  958

[1000 rows x 6 columns]

In [ ]:
if not ray.is_initialized():
    print("Initializing Ray")
    ray.util.connect('192.168.1.7:10001')

In [ ]:
ray.timeline(filename="/tmp/timeline.json")

In [ ]:
handle = ray.get_actor("actor_return_value_task_flow_ray_pandas_build_dataframe")

In [ ]:
val = handle.get.remote()

In [ ]:
val

In [ ]:
ray.get(handle.get.remote())

In [ ]:
h22 = ray.get_actor("df_2")

In [ ]:
ray.get(h22.get.remote())